.main {
  display: flex;
  flex: 55;
  flex-direction: column;
  height: 100%;
  padding: 2rem;

  .message-container {
    background: #eee;
    border: 1px solid black;
    height: 15rem;
    overflow: auto;
  }
}
