:host {
  background: #eee;
  border: 1px solid black;
  flex: 1;
  overflow: auto;

  .message {
    padding: 0.1rem 0.25rem;

    img, video {
      margin-left: 0.25rem;
      width: 18rem;
    }
  }
}
