:host {
  background: #eee;
  border: 1px solid black;
  flex: 1;
  overflow: auto;

  .message {
    display: flex;
    padding: 0.1rem 0.25rem;

    img {
      margin-left: 0.25rem;
      width: 150px;
    }
  }
}
