:host {
  border-right: 1px solid black;
  flex: 15;
  padding: 2rem 1rem;
  overflow: auto;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    list-style-type: none;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}
