<div style="padding: 2rem">
  <h2 style="margin: 0; text-align: center;">Connected users</h2>

  <ng-container *ngIf="users.length > 0; then list; else message"></ng-container>
  <ng-template #list>
    <ul>
      <li *ngFor="let user of users">
          {{ user.name }}
      </li>
    </ul>
  </ng-template>
  <ng-template #message>
    <div style="margin-top: 2rem; text-align: center;">There are no online users</div>
  </ng-template>
</div>

<div style="border-top: 1px solid #000; padding: 2rem; text-align: center;">
  <button type="button" (click)="onClick()">Leave chat</button>
</div>
